@using WebAuction.PresentationLayer.Helpers
@model WebAuction.PresentationLayer.Models.Auctions.AuctionDetailViewModel

@{
    ViewBag.Title = "Auction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/utils.js" async></script>
}

<div class="row">
    <div class="col-sm-4">
        <div class="container">
            <div>
                <img src="@Model.Auction.PhotoUri" class="img-responsive img-thumbnail col-sm-3" alt="Auction image"/>
            </div>
        </div>
    </div>

    <div class="col-sm-6 ">
        <h3>@Html.DisplayFor(model => Model.Auction.Name)</h3>

        @if (Model.Auction.Ended)
        {
            <strong class="text-danger">ENDED</strong>
        }
        else
        {
            if (User.Identity.IsAuthenticated)
            {
                <div>
                    @using (Html.BeginForm("MakeBid", "Auctions", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                        @Html.HiddenFor(model => model.Auction.ActualPrice)
                        @Html.HiddenFor(model => model.Auction.Id)
                        @Html.EditorFor(model => model.NewBid.BidAmount, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.NewBid.BidAmount, "", new {@class = "text-danger"})
                        <button type="submit">Make Bid</button>
                    }
                </div>
            }

        @*<div class="row">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </span>
            <input type="text" id="txtBidAmount" name="quant[1]" class="form-control input-number" value="@Model.Auction.MinimalBid" min="@Model.Auction.MinimalBid" max="999999">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
            <span class="input-group-btn">
                <button type="button" class="btn btn-success" id="btnBid" onclick="@Url.Action("MakeBid", "Auctions", new {auction = Model, bidAmount = , strBidderId = User.Identity.GetUserId()})">
                    Bid
                </button>
            </span>
        </div>
    </div>*@

            <div class="row">
                <b>Price: </b>@Html.DisplayFor(model => Model.Auction.ActualPrice)
            </div>

            <div class="row">
                <b>Buyout price: </b>@Html.DisplayFor(model => model.Auction.BuyoutPrice)
            </div>
            if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("Buyout", "Auctions", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.Auction.Id)
                    <button type="submit">Buyout</button>
                }
            }
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-4">
        <h4>
            Desription:
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-4">
        <div class="row text-justify">
            @Html.DisplayFor(model => Model.Auction.Description)
        </div>
    </div>
</div>

<div class="row">
    <h4>Bids:</h4>
</div>
<div class="row">
    @foreach (var bid in Model.Bids)
    {
        <p>
            @bid.Time
            @bid.BidAmount
        </p>
    }
</div>

<div class="row">
    <h4>Comments:</h4>
</div>
@foreach (var comment in Model.Comments)
{
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayFor(model => comment.Username)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => comment.Text)
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(model => comment.Time)
        </div>
        @if (User.IsInRole(AuthorizationRoles.Admin))
        {
            @Html.ActionLink("Delete", "DeleteComment", new {commentId = comment.Id, auctionId = comment.AuctionId})
        }
    </div>
}

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        @using (Html.BeginForm("Comment", "Auctions", FormMethod.Post))
        {
            <div class="form-group">
                <p>@Html.Label("Comment")</p>
                @Html.HiddenFor(model => model.Auction.Id)
                @Html.TextAreaFor(model => model.NewComment.Text, new { htmlAttributes = new { @class = "form-control" } }))
            </div>
            <button type="submit" class="btn btn-info">Add Comment</button>
        }
    </div> 
}
