@model WebAuction.BusinessLayer.DataTransferObjects.AuctionDto

@{
    ViewBag.Title = "AuctionDetailView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/utils.js" async></script>
}

<div class="row">
    <div class="col-sm-4">
        <div class="container">
            <div>
                <img src="@Model.PhotoUri" class="img-responsive img-thumbnail col-sm-3" alt="Auction image"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6 ">
        <h3>@Html.DisplayFor(model => model.Name)</h3>
        <div class="row">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                <input type="text" name="quant[1]" class="form-control input-number" value="@Model.MinimalBid" min="@Model.MinimalBid" max="999999">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success" id="btnBid" onclick="">
                        Bid
                    </button>
                </span>
            </div>
        </div>
        <div class="row">
            <b>Price: </b>@Html.DisplayFor(model => model.ActualPrice)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-4">
        <h4>
            Desription:
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-4">
        <div class="row text-justify">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
</div>